langchain==0.1.20
langchain-community==0.0.38
langchain-openai
langchain-text-splitters
langchain_huggingface
langchain_chroma
langchain-groq
streamlit
python-dotenv
ipykernel
pypdf
pymupdf
bs4
unstructured
arxiv
wikipedia
duckduckgo_search==5.3.1b1
youtube-transcript-api==0.6.3
pytube
sentence-transformers
sentence_transformers
faiss-cpu
chromadb
duckdb
numexpr
mysql-connector-python
SQLAlchemy
validators==0.28.1
huggingface_hub
yt_dlp
youtube-transcript-api
